
table {

    text-align: left;
    border-collapse: collapse;
    border-spacing: 5px;
    background: #ECE9E0;
    color: #656665;
    border: 16px solid #ECE9E0;
    border-radius: 20px;

}
th {
    font-size: 18px;
    width: 150px;
    height: 40px;
    text-align: center;
    position: relative;



}
td {
    background: #F5D7BF;
    width: 150px;
    height: 40px;
    text-align: center;
    position: relative;

}
